@import "tailwindcss";

@theme {
  --color-background: oklch(0.993 0.002 264.531);
  --color-foreground: oklch(0.141 0.029 265.755);
  --color-card: oklch(0.993 0.002 264.531);
  --color-card-foreground: oklch(0.141 0.029 265.755);
  --color-popover: oklch(0.993 0.002 264.531);
  --color-popover-foreground: oklch(0.141 0.029 265.755);
  --color-primary: oklch(0.208 0.047 265.755);
  --color-primary-foreground: oklch(0.98 0.009 265.755);
  --color-secondary: oklch(0.967 0.003 264.531);
  --color-secondary-foreground: oklch(0.208 0.047 265.755);
  --color-muted: oklch(0.967 0.003 264.531);
  --color-muted-foreground: oklch(0.552 0.017 265.755);
  --color-accent: oklch(0.967 0.003 264.531);
  --color-accent-foreground: oklch(0.208 0.047 265.755);
  --color-destructive: oklch(0.577 0.245 27.325);
  --color-destructive-foreground: oklch(0.98 0.009 265.755);
  --color-border: oklch(0.912 0.01 264.531);
  --color-input: oklch(0.912 0.01 264.531);
  --color-ring: oklch(0.208 0.047 265.755);
  --radius-md: 0.5rem;
}
